//Colours
$greyLight: #EDEDED;
$greyDark: #333;
$greyDark2: #999;
$white: #FFF;
//Settings
$margin: 25px;
$fontColor: $greyDark;
$fontSize: 16px;
$lineHeight: 24px;
//Styling
$iconClickArea: 50px;
$chevronWidth: 5px;

body {
  color: $fontColor;
  font-size: $fontSize;
  line-height: $lineHeight;
}

button {
  font-size: $fontSize;
  line-height: $lineHeight;
}

.chevron::after {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: $chevronWidth;
	left: $chevronWidth*2;
	position: relative;
	top: -1px;
	transform: rotate(-45deg);
  transition: transform 0.3s;
	vertical-align: middle;
	width: $chevronWidth;

  .user-nav__icon--logged-in:hover & {
    top: -1px;
    transform: rotate(135deg);
  }
}

.header {
  background-color: $white;
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid $greyLight;
  box-shadow: 0 1px 2px $greyLight;
  padding-left: $margin;
  padding-right: $margin;
  position: sticky;
  top: 0;
}

.logo {

}

.user-nav {
  margin-left: auto;
  position: relative;
}

.user-nav__icon {
  background: url('icon-user.svg') center no-repeat;
  background-size: $iconClickArea/2;
  border: none;
  cursor: pointer;
  height: $iconClickArea;
  padding: 0;
  width: $iconClickArea;
}

.user-nav__icon--logged-in {
  background-position: calc(100% - #{$iconClickArea/4}) center;
  padding-right: $iconClickArea + $margin;
  white-space: nowrap;
  width: auto;
}

.user-nav__items {
  background-color: $white;
  border: 1px solid $greyLight;
  border-radius: 5px;
  box-shadow: 0 1px 5px $greyDark2;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: $iconClickArea/4;
  text-transform: capitalize;
  top: $iconClickArea;
}

.user-nav__item {

}

.user-nav__link {
  color: $fontColor;
  display: block;
  padding: $margin/2 $margin;
  text-decoration: none;
  white-space: nowrap;

  &:hover,
  &:focus,
  &:active {
    background-color: $greyLight;
  }
}
