$margin: 25px;
$greyLight: #EDEDED;

body {
  color: #333;
  font-size: 16px;
  line-height: 24px;
}

.App-header {
  background-color: #FFF;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);

  height: 70px;
  border-bottom: 1px solid $greyLight;
  box-shadow: 0 1px 2px $greyLight;
  padding-left: $margin;
  padding-right: $margin;
}

.logo {
  display: inline-block;
  width: fit-content;
}

.user-nav {
  background: url('icon-user.svg') center no-repeat;
  background-size: 25px;
  border: none;
  cursor: pointer;
  height: 50px;
  margin-left: auto;
  width: 50px;
}
