//Mixins
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
// Small devices
@mixin screen-sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin screen-md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin screen-lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin screen-xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

//Colours
$greyLight: #EDEDED;
$greyDark: #333;
$greyDark2: #999;
$white: #FFF;
//Settings
$margin: 25px;
$fontColor: $greyDark;
$fontSize: 16px;
$lineHeight: 24px;
//Styling
$iconClickArea: 50px;
$chevronWidth: 5px;

body {
  color: $fontColor;
  font-size: $fontSize;
  line-height: $lineHeight;
  padding: 0 $margin;
}

button {
  font-size: $fontSize;
  line-height: $lineHeight;
}

.chevron::after {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: $chevronWidth;
	left: $chevronWidth*2;
	position: relative;
	top: -1px;
	transform: rotate(-45deg);
  transition: transform 0.3s;
	vertical-align: middle;
	width: $chevronWidth;

  .user-nav:hover &,
  .user-nav:focus &,
  .user-nav:active &,
  .user-nav__icon--logged-in:hover &,
  .user-nav__icon--logged-in:focus &,
  .user-nav__icon--logged-in:active & {
    top: -1px;
    transform: rotate(135deg);
  }
}

.header {
  background-color: $white;
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid $greyLight;
  box-shadow: 0 1px 2px $greyLight;
  left: 0;
  padding-left: $margin;
  padding-right: $margin;
  position: fixed;
  right: 0;
  top: 0;
}

.logo__img {
  width: 100%;
}

.user-nav {
  margin-left: auto;
  margin-right: -$margin/2;
  position: relative;
}

.user-nav__icon {
  background: url('icon-user.svg') center no-repeat;
  background-size: $iconClickArea/2;
  border: none;
  cursor: pointer;
  height: $iconClickArea;
  padding: 0;
  width: $iconClickArea;
}

.user-nav__icon--logged-in {

  @include screen-sm {
    background-position: calc(100% - #{$iconClickArea/4}) center;
    padding-right: $iconClickArea + $margin;
    white-space: nowrap;
    width: auto;
  }
}

.user-nav__name {
  display: none;

  @include screen-sm {
      display: block;
  }
}

.user-nav__items {
  background-color: $white;
  border: 1px solid $greyLight;
  border-radius: 5px;
  box-shadow: 0 1px 5px $greyDark2;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-transform: capitalize;
  top: $iconClickArea;

  @include screen-sm {
    right: $iconClickArea/4;
  }

  .user-nav:hover &,
  .user-nav:focus &,
  .user-nav:active &,
  .user-nav__icon--logged-in:hover + &,
  .user-nav__icon--logged-in:focus + &,
  .user-nav__icon--logged-in:active + & {
    display: block;
  }
}

.user-nav__item {

}

.user-nav__link {
  color: $fontColor;
  display: block;
  padding: $margin/2 $margin;
  text-decoration: none;
  white-space: nowrap;

  &:hover,
  &:focus,
  &:active {
    background-color: $greyLight;
  }
}
